body, html {
    background-color: lightblue;
}

.center {
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    border: 3px solid black;
    padding: 25px;
    width: 50%;
}

.center button {
    margin-top: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, #000077, #0000dd);
    outline: 0;
    display: inline-block;
    padding: 12px;
    color: white;
    text-align: center;
    cursor: pointer;
    width: 30%;
    font-size: 18px;
    box-shadow: 1px 1px 1px black, inset 2px 3px 5px rgba(0, 0, 0, 0.3), inset -2px -3px 5px rgba(255, 255, 255, 0.5);
}

    .center button:hover {
        opacity: 0.8;
    }