@page "/"
@inject ILogger<Index> Logger
@inject NavigationManager Navigation

<img src="/SunSetting.jpg"/>

<div class="container">
    <div class="Phase-2">
        <div class="card">
            <h1>Sign In</h1>
            <EditForm Model="@Model" OnValidSubmit="@Submit">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <label margin-top="10%">
                    First Name:
                    <br/>
                    <InputText @bind-Value="Model!.Firstname" />
                </label>
                <p />
                <label>
                    Last Name:
                    <br/>
                    <InputText @bind-Value="Model!.Lastname" />
                </label>
                <p />
                <label>
                    Student ID:
                    <br/>
                    <InputText type="password" @bind-Value="Model!.StudentId" />
                </label>
                <div align="center">
                    <p><button type="submit">Sign In</button></p>
                </div>
            </EditForm>
        </div>
    </div>
</div>
