@page "/"
@inject ILogger<Index> Logger

<div class="bgcontainer">

    <div class="container">
        <div class="Phase-2">
            <div class="card">
                <h1>Sign In</h1>
                <EditForm Model="@Model" OnValidSubmit="@Submit">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div>
                        <p>
                            Username:
                        </p>
                        <InputText @bind-Value="Model!.Username" />
                    </div>
                    <br />
                    <div>
                        <p>
                            Password:
                        </p>
                        <InputText type="password" @bind-Value="Model!.Password" />
                    </div>
                    <br />
                    <div align="center">
                        <p><button type="submit">Sign In</button></p>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>